/*
 * Box Model
 */
 
* {
  box-sizing: border-box;
  /* box-sizing: content-box; */
}

img {
  max-width: 40%;
  height: auto;
}

section {
  width: 75%;
  height: auto;
  margin: 10px;
  padding: 10px;
  border: solid 3px #777;
}