/*
Descendent: ' '
Child: '>'
General sibling: '~'
Adjacent sibling: '+'
*/

body {
  background-color: aqua;
}

header {
  text-align: center;
}

header h2 {
  color: blue;
}

header h3 {
  font-style: italic;
}

#introduction>p {
  background-color: yellowgreen;
}

#research .section_head~section {
  background-color: darkgrey;
}

#s1+section {
  font-style: italic;
}

details[open] > summary {
  background-color: lightgray;
}

.section_head::first-line {
  font-size: 1.5rem;
  color: black;
  text-transform: capitalize;
}

#conclusion ul>li:nth-child(odd) {
  font-style: italic;
}

li:hover {
  color: blue;
}

